<H1>Add User</H1>

<div class="container">
    <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Target Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter atleast 5 characters in Description</div> -->

    <form>
        <fieldset class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="description" required="required" minlength="5">
        </fieldset>
        <fieldset class="form-group">
            <label>Email</label>
            <input type="email" class=" form-control " name="email" required="required " minlength="5 ">
        </fieldset>
        <fieldset class="form-group">
            <label>Password</label>
            <input type="password" class=" form-control " name="pass" required="required " minlength="5 ">
        </fieldset>
        <fieldset class="form-group">
            <label>Birthdate</label>
            <input type="date" class=" form-control " name="dob" required="required " minlength="5 ">
        </fieldset>

        <button type="submit " class="btn btn-success ">Save</button>
    </form>
</div>