<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="/users" class="navbar-brand">User Management System</a></div>

        <!-- <ul class="navbar-nav">
            <li>
                <a routerLink="/AddUser" class="nav-link">Users</a>
            </li>
        </ul> -->

        <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">login</a></li>
            <li>
                <a routerLink="/logout" class="nav-link">Logout</a>
            </li>
        </ul> -->
    </nav>
</header>